<%- include("partials/header.ejs") %>

<h1>Profile</h1>
<img class="profile" src="Styles/images/work in progress.jpg" alt="cat profile">
<p>
  This page is still in progress.</p>

<%- include("partials/footer.ejs") %>